<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<div class="about_container">
  <div class="container">
    <h1><%= postTitle %></h1>

    <!-- Render the image -->
    <% if (postImage && postImage.data) { %>
      <img src="data:<%= postImage.contentType %>;base64,<%= postImage.data.toString('base64') %>" alt="Post Image">
    <% } %>

    <p><%= postBody %></p>
  </div>
</div>

<%- include('partials/footer') -%>
